@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: local('NotoSansKR-Bold'), 
        url('/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
        url('/NotoSansKR/NotoSansKR-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: local('NotoSansKR-Regular'), 
        url('/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
        url('/NotoSansKR/NotoSansKR-Regular.ttf') format('truetype');
}